.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    background-color: #eaeaea;
}

.header__info-wrapper {
    display: flex;
}

.header__name {
    font-size: 16px;
    margin-right: 15px;
    font-weight: 700;
}

.header__participants {
    font-size: 16px;
    margin-right: 10px;

    span {
        margin-right: 5px;
    }
}

.header__messages {
    font-size: 16px;

    span {
        margin-right: 5px;
    }
}

.header__last-message {

    span {
        margin-right: 5px;
    }

}