.loading-spinner__container {
  font-size: 100px;
  color: rgb(41, 63, 41);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  animation: spinner 20s linear infinite;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

