.separator-line {
  &__container {
    margin-bottom: 30px;
  }
  &__line {
    position: relative;
    height: 0px;
    border: .1px solid gray;
  }

  &__text {
    position: absolute;
    right: 50%;
    top: -10px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 2px 20px;
    font-size: 12px;
    background-color: white;
  }
}
